@using PetMeWeb.Models.Siniflar
@model List<DostumKayip>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İlan Listesi</h2>
<br />
<table class="table-bordered" width="80%">
    <tr>
        <th> ID </th>
        <th> BAŞLIK </th>
        <th> SİL </th>
        <th> GÜNCELLE </th>
        <th> DETAYLAR </th>
    </tr>


    @foreach (var x in Model)
    {
        <tr>
            <td> @x.ID</td>
            <td> @x.Baslik</td>
            <td>
                <a href="#" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="#" class="btn btn-default">Güncelle</a>
            </td>
            <td>
                <a href="#" class="btn btn-default">Detaylar</a>
            </td>
            
        </tr>
    }
</table>

<a href="/Admin/YeniKayip/" class="btn btn-primary">İlan ekle</a>