
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE HTML>
<html>

<body>
   
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:1px">Kurtarılmış Dostlarımız</h2>
                    

                        <div class="slider" style="width:650px; height:350px">
                            <ul class="rslides" id="slider1">
                                <li><img src="~/images/sliderimg1.jpg" alt=""></li>
                                <li><img src="~/images/Adsız.jpg" alt=""></li>
                                <li><img src="~/images/tosbik.jpg" alt=""></li>
                                <li><img src="~/images/sliderimg4.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>HAYVAN HAKLARI HAKKINDA</h3>
                    <p>  2004 yılında kabul edilen ve halen yürürlükte olan ancak yetersiz bulunan 5199 sayılı Hayvanları Koruma Kanunu’na göre hayvanlara karşı suç işleyenlere düşük idari para cezaları uygulanıyor. Çünkü hayvanlar "can" olarak değil "mal" olarak değerlendiriliyor. </p>
                    <p>  Hayvan Hakları Federasyonu (HAYTAP) Başkanı ve aynı zamanda bir hukukçu olan Ahmet Kemal Şenpolat bu konuda şunları söylüyor:</p>
                    <p>  "Kapalı alanda sigara içen ya da yere tüküren bir insana nasıl adli mekanizmalar tarafından ceza verilemiyor ve idari para cezalarıyla geçiştiriliyorsa; hayvanlara tecavüz etmek, öldürmek, zehirlemek de kabahatler kanunu kapsamında değerlendiriliyor. Dolayısıyla kabahat olan herhangi bir şey mahkeme önüne gelmiyor. Hayvanlar mal olarak kabul edildiğinden sadece sahipli hayvanlar söz konusu olduğu zaman, o da sahibinin şikayet etmesi halinde adli mekanizma devreye giriyor."</p>
                    <p><img src="~/images/hayvan hakları yasası.png"</p>
                    <h2> HAYVAN HAKLARI YASASI HEMEN</h2>
                    <p> Hayvanlar mevcut yasada ‘mal ve eşya’ olarak tanımlanırken, komisyon raporunda ‘can’ olarak değerlendiriliyor. Bu, hayvanların karşı karşıya kaldığı şiddet olaylarının cezalandırılabilmesi için önemli bir zemin oluşturacak.</p>
                    <p> Hayvana uygulanan şiddetin ceza yasası kapsamına alınması bekleniyor. Buna göre hayvana şiddetin cezasının 2 yıl 1 ay olması, cezanın ertelenmemesi, para cezasına çevrilmemesi ve suçu işleyenin sabıka siciline işlenmesi öngörülüyor.
                    </p>
                    <p> Hayvanlarla cinsel ilişkiyi cinsel istismar kapsamına alan komisyon raporu, hayvanını terk edene de 10 bin liraya kadar para cezası verilmesini öneriyor.
                    </p>
                    <p>Sahipli-sahipsiz hayvan ayrımına son veriliyor.
                    </p>
                    <p> Apartmanda hayvanla yaşama önündeki çeşitli engellerin önüne geçiliyor.</p>
                    <a href="https://www.haytap.org/tr/5199-sayhayvanlarruma-kanunu-te-">Buraya tıklayarak mevcut 'Hayvanları Koruma Kanunu'na ulaşabilirsiniz. </a>
                    
                    </div>

              
            </div>
        </div>
    </div>
    
</body>
</html>



